<p style="color: green"><%= notice %></p>


<h1><% I18n.t('categories') %></h1>

<div id="categories">
  <% @categories.each do |category| %>
    <%= link_to category.title, category_path(category.id) %>
    <p>
    </p>
  <% end %>
</div>
